<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <h1>New Screening</h1>
    
    <p>
      Screening from patient <%= @screening.fname %>
    </p>
   
  </body>
</html>