<dl id = "fAQ"> 
  <dt><a> What is an Arthrogram?</a></dt>
  	<dd>
			<p class='answer'>
        An arthrogram is a test using X-Rays to obtain a series of pictures of a joint after a mixture of normal saline and contrast has been injected into the joint. This allows your doctor to see the 
    		soft tissue structures of your joint, such as tendons, ligaments, muscles, cartilage and joint 
    		capsule. These structures are not seen on a plain X-ray without contrast material. A special type 
    		of X-ray, called fluoroscopy, is used to take pictures of the joint.
    		An arthrogram is used to check a joint to find out what is causing your symptoms or problem 
    		with your joint. An arthrogram may be more useful than a regular X-ray because it shows the 
    		surface of soft tissues lining the joint as well as the joint bones. A regular X-ray only shows the 
    		bones of the joint. This test can be done on your hip, knee, ankle, shoulder, elbow, or wrist. 
    		The arthrogram is done before your MRI.
			</p>
		</dd>

  <dt><br><a>Why is it done?</a></dt>
  <dd>
    <p class='answer'>
      An arthrogram is used to find the cause of ongoing, unexplained joint pain, swelling, or 
      abnormal movement of your joint. It may be done alone, before, or as part of other tests, such 
      as MRI or CT. Also to find problems in your joint capsule, ligaments, cartilage (including tears, degeneration,or disease), and the bones in the joint. In your shoulder, it may be used to help find rotator cuff tears or a frozen shoulder.
    </p>
  </dd>

  <dt><br><a>What you can expect during your MRI scan?</a></dt>
  <dd>
    <p class='answer'>
      When you arrive at Community Imaging, the technologist will review your medical history and chief complaints with you to provide necessary information to the radiologist. You will be assisted onto the table into the appropriate position for your scan. During the scan, you will hear intermittent thumping and humming sounds. Earplugs or music will be provided to you to ensure your comfort. You will be requested to remain relaxed and completely still for the procedure. Any movement may deter image quality and make it difficult for the radiologist to interpret. The exam will take approximately 25-45 minutes. You will be able to communicate with the technologist through a 2 way intercom system located in the MRI scan room. For your comfort, you may ask a friend or family member to sit with you in the scan room if they are eligible through screening. During your scan, you will not see or feel anything. It is completely painless and has no known side effects. Because there is no ionizing radiation or radioactive substances associated with this procedure, patients avoid the potential danger of radiation exposure.
    </p>
  </dd>

  <dt><br><a>How do I prepare for my exam?</a></dt>
  <dd>
    <p class='answer'>
      You may eat, drink and take your medications.  Prior to the scan, you will be encouraged to 
      use the restroom. You will be asked screening questions.  Because of the potential harmful 
      effects associated with metallic objects in a magnetic field, you should tell the technologist 
      performing your exam if you have had any of the following:
    </p>
      
    <p class="answer"></p>  
      • Any kind of surgery<br>
      • Pacemaker <br>
      • Aneurysm clips<br>
      • Metal in your eyes or work with metal (If you are a metal worker, you may be 
        required to have special x-rays before you exam to make sure there are no metal 
        fragments in your eye(s)<br>
      • Metal implants in your ears<br>
      • Implanted drug infusion device<br>
      • Shrapnel or bullet wounds<br>
      • Claustrophobia<br>
      • Chance of pregnancy<br>
      • Allergy to any type of contrast material.<br>
      • Allergy to iodine. The dye used for an arthrogram may contain iodine.<br>
      • Allergy to any medicines, including anesthetics.<br>
      • Have bleeding problems or are taking blood-thinning medicines.<br>
      • Have a known infection in or around your joint. The dye may make your infection worse.<br>
      • Have diabetes or take metformin (Glucophage) for your diabetes.<br>
      <p class='answer'>
        You will be asked to arrive 15 minutes ahead of time to complete any paperwork, bring your drivers license and insurance card.
      </p>
      <p class='answer'>
        You will also be asked to sign a consent form before the test. Talk to your doctor about any concerns 
        you have regarding the need for the test, its risks, how it will be done, or what the results will 
        mean.
      </p>
    </dd>


  <dt> <br><a>How is an Arthrogram done?</a></dt>
  <dd><p class="answer">
      A needle is put into your joint area. The fluoroscope shows that the needle is placed correctly in 
      your joint. The dye is then put through the needle into your joint. The needle is then removed.<br>
      You may be asked to move your joint around to help the dye spread inside your joint. Pictures 
      from the fluoroscope show if the dye has filled your entire joint. Hold as still as possible while 
      the X-rays are being taken.</p>

      <p class="answer">You may be asked to move your joint around to help the dye spread inside your joint. Pictures 
      from the fluoroscope show if the dye has filled your entire joint. Hold as still as possible while 
      the X-rays are being taken.</p>

      <p class="answer">After the arthrogram, rest your joint for about 12 hours. Do not do any strenuous activity for 1 
      to 2 days. Use ice for any swelling and use pain medicine for any pain. If a bandage or wrap is 
      put on your joint following an arthrogram, you will be told how long to use it.</p>

      <p class="answer">An arthrogram usually takes about 30 to 60 minutes.</p>
  </dd>

  <dt><br><a>How does an Arthrogram feel?</a></dt>
  <dd><p class="answer">
      You will feel a prick and sting when the anesthetic is given. You may feel tingling, pressure, 
      pain, or fullness in your joint as the dye is put in.
    </p></br>

    <p class="answer">The X-ray table may feel hard and the room may be cool.</p></br>

      <p class="answer">
        You may have some mild pain, tenderness, and swelling in your joint after the test. Ice packs 
      and nonprescription pain relievers, used as the package directs, may help you feel more 
      comfortable. You may also hear a grating, clicking, or cracking sound when you move your 
      joint. This is normal and goes away in about 24 hours. If you have ongoing pain, tenderness, or 
      swelling of the joint, tell your doctor.</p></br>
    </dd>

  <dt><br><a>What will happen after my Arthrogram?</a></dt>
  <dd><p class="answer">You will be escorted to the MRI room by the MRI Technologist where the MRI will be 
      performed.  You will be positioned on the table and moved into place for the procedure, which 
      may take approximately 50 minutes.  A device called a coil may be placed around or under the 
      part that is being imaged.  Once the exam begins, you will be asked to lie as still as possible to 
      make sure the images captured are clear.  You will hear a knocking or thumping sound during 
      the exam.  These noises are all part of the scanning process.  You are more than welcome to 
      bring music with you, IPOD, CD or we will provide you with earplugs.</p><br>

      <p class="answer">Your examination will be reviewed by the radiologist, after the exam has been completed.  Your 
      referring physician will be sent a detailed final report within 24 hours.  You will receive copies of 
      your images on CD when you leave our facility.   If you would like a copy of your results mailed 
      to you please inform our staff.</p><br>
    </dd>
	</dl>
</div></div>