        <!-nav-->
        <div class="div-border">
          <div class="row">
            <div class="small-7 small-centered columns">
              <ul class="">
                <li><a id="home" href="#">Home</a></li>
                <li><a id="about" href="#">About</a></li>
                <li><a id="contact" href="#">Contact</a></li>
                <li><a id="services" href="#">Services</a></li>
                <li><a id="patients" href="#">Patients</a></li>
                <li><a id="ref-phys" href="#">Referring Physicians</a></li>
              </ul>
            </div>
          </div> 
        </div>