<form method="post" name="ScheduleExam" action="schedule-exam.php">
  <fieldset>
    <h3>Schedule your exam today</h3>
    <h3>Phone: 630.653.8464</h3>
    <h3>Fax: 630.653.8660</h3>
   
    <h4>If you would like a representative to call you to schedule your exam,  please fill out and submit this form.</h4>
                   
    <span>*Required information</span>
    <input type="text" placeholder="*First Name" name="f-name">
    <input type="text" placeholder="*Last Name" name="l-name">
    <input type="text" placeholder="*Date of Birth" name="dob">
    <input type="text" placeholder="*Phone" name="phone">
    <input type="text" placeholder="Email" name="email">
    <input type="text" placeholder="Preferred time to call" name="time">
    <input type="text" placeholder="Patient Status: new or returning" name="status">
    <input type="text" placeholder="*Exam" name="exam">
    <input type="text" placeholder="*Ordering Physician" name="physician">
    <input type="text" placeholder="Additional comments" name="comments">           
    
  </fieldset> 
</form>