
                   
<form method="post" name="Survey" action="">

<div class="row">
  <div class="small-10 small-offset-1 div-border">
    <span style=""
    <b> Please rate your experience at Community Imaging. </b>
    </span>

      
      var categoryArray = ["Scheduling",
                           "Receptionist’s greeting and promptness"
                           "Ease of completing forms"]
                           "Length of time waiting for procedure"]
                           "Care and professionalism of the technologist"]
                           "Explanation of exam and questions answered"]
                           "Patient Privacy"]
                           "Cleanliness of Facility"]
                           "Overall Experience at Community Imaging"]
                           "Ease of completing forms"]
                           "Ease of completing forms"];


      var ratingArray = ["excellent", "very good", "good", "fair", "poor"];

      Scheduling: 
      Excellent <input class="ispace" type="radio" name="Scheduling" value="excellent"></input>
      Very Good <input type="radio" name="Scheduling" value="Very Good"> </input>
      Good <input type="radio" name="Scheduling" value="Good"></input>
      Fair <input type="radio" name="Scheduling" value="Fair"></input>
      Poor <input type="radio" name="Scheduling" value="Poor"></input>
  

      Receptionist’s greeting and promptness: 
        Excellent <input type="radio" name="greeting" value="excellent"></input>
        Very Good <input type="radio" name="greeting" value="Very Good"></input>
        Good <input type="radio" name="greeting" value="Good"></input>
        Fair <input type="radio" name="greeting" value="Fair"></input>
        Poor <input type="radio" name="greeting" value="Poor"></input>
   
      Ease of completing  forms: 
        Excellent <input type="radio" name="completingForms" value="excellent"></input>
        Very  Good <input type="radio" name="completingForms" value="Very Good"></input>
        Good <input type="radio" name="completingForms" value="Good"></input>
        Fair <input type="radio" name="completingForms" value="Fair"></input>
        Poor <input type="radio" name="completingForms" value="Poor"></input>


      Length of time waiting for procedure: 
        Excellent <input type="radio" name="timeWaiting" value="excellent"></input>                           
        Very Good <input type="radio" name="timeWaiting" value="Very Good"></input>
        Good <input type="radio" name="timeWaiting" value="Good"></input>
        Fair <input type="radio" name="timeWaiting" value="Fair"></input>
        Poor <input type="radio" name="timeWaiting" value="Poor"></input>


      Care and professionalism of the technologist: 
        Excellent <input type="radio" name="care" value="excellent"></input>
        Very Good <input type="radio" name="care" value="Very Good"></input>
        Good <input type="radio" name="care" value="Good"></input>
        Fair <input type="radio" name="care" value="Fair"></input>
        Poor <input type="radio" name="care" value="Poor"></input>
    

      Explanation of exam and questions answered: 
        Excellent <input type="radio" name="explanation" value="excellent"></input>
        Very Good <input type="radio" name="explanation" value="Very Good"></input>
        Good <input type="radio" name="explanation" value="Good"></input>
        Fair <input type="radio" name="explanation" value="Fair"></input>
        Poor <input type="radio" name="explanation" value="Poor"></input>
  

      Patient Privacy: 
        Excellent <input type="radio" name="privacy" value="excellent"></input>
        Very Good <input type="radio" name="privacy" value="Very Good"></input>
        Good <input type="radio" name="privacy" value="Good"></input>
        Fair <input type="radio" name="privacy" value="Fair"></input>
        Poor <input type="radio" name="privacy" value="Poor"></input>
    

      Cleanliness of Facility: 
        Excellent <input type="radio" name="cleanliness" value="excellent"></input>
        Very Good <input type="radio" name="cleanliness" value="Very Good"></input>
        Good <input type="radio" name="cleanliness" value="Good"></input>
        Fair <input type="radio" name="cleanliness" value="Fair"></input>
        Poor <input type="radio" name="cleanliness" value="Poor"></input>
  

      Overall Experience at Community Imaging: 
        Excellent <input type="radio" name="overall" value="excellent"></input>
        Very Good <input type="radio" name="overall" value="Very Good"></input>
        Good </div> <input type="radio" name="overall" value="Good"></input>
        Fair </div><input type="radio" name="overall" value="Fair"></input>
        Poor </div><input type="radio" name="Ooverall" value="Poor"></input>
     

      Based on your experience, would you recommend Community Imaging to a friend or family 
      member? <div class="space"> Yes </div><input type="radio" name= "recommend" value="yes"> </input>
      <div class="space"> No </div><input type="radio" name= "recommend" value="no"> </input> 
  

      How did you hear about us?

      <input type="text"  placeholder="internet, doctor referral etc." name='hear'> 

      <button type="submit" class="btn" input type="submit" value="Send">Submit</button>
  </form>
  </div>
</div>

