<dl id="fAQ"> 
  <dt> <a> What is an X-Ray?</a></dt>
  <dd><p class="answer">An x-ray is a noninvasive exam that helps physicians diagnose and treat medical conditions.  
      Imaging with x-ray involves exposing a part of the body to a small dose of ionizing radiation to 
      produce images of the area of interest.  X-rays are the oldest and most frequently used form of 
      medical imaging.</p></dd>


  <dt> <br><a>How do I prepare for my exam?</a></dt>
  <dd><p class="answer">Tell your doctor if you are, or suspect you might be pregnant.  If you suspect to be pregnant 
      a pregnancy test will be required before the technologist is to take the x-rays.  You will need 
      a doctor’s order.  Call our office to schedule. Please wear comfortable clothing free of metal.  
      Avoid underwire bras, girdles, metal snaps and pins.</p></dd>

  <dt> <br><a>What can I expect during my exam?</a></dt>
  <dd><p class="answer">A registered technologist will discuss the procedure with you and answer any questions you 
      might have.  You will be taken to the exam room, where you will be positioned for the x-ray – 
      either standing, sitting or lying down on an x-ray table, depending on which part of your body is 
      to be imaged.  Additional x-rays may be taken, if need.  You may be asked to hold your breath.</p></dd>

  <dt> <br><a>What will happen after my x-ray?</a></dt>
  <dd><p class="answer">Your examination will be reviewed by the radiologist, after the exam has been completed.  Your 
      referring physician will be sent a detailed final report within 24 hours.  You will receive copies 
      of your films with you leave our facility.  If you would like a copy of your results mailed to you 
      please inform our staff.</p></dd>
</dl>

