<div class="row">
  <div class="span9 offset1"> 
    <p>Additional Resources</p>
  
    <div class="row-fluid">
      <div class="span5 offset">
        <a class="text" href="http://www.acr.org/" target="_blank"> American College of Radiology</a>
      </div>

      <div class="span5 offset1">
        <a class="text" href="http://www.radiologytoday.net/general_radiology_index.shtml"> Radiology Today | General Radiology  </a>
      </div> 
    </div>

    <div class="row-fluid">
      <div class="span5 offset">
        <a class="text" href="http://www.acr.org/Research" target="_blank"> Radiology Today | Research Articles </a>
      </div>

      <div class="span5 offset1">
        <a class="text" href="http://www.radiologytoday.net/mri_index.shtml" target="_blank"> Radiology Today | MRI Articles</a> 
      </div>
    </div>

    <div class="row">
      <div class="span4 offset3">
        <%= image_tag "research.png" %>
      </div>
    </div>
  </div>
</div>