<div class="row">
 
  <div class= "address"> 
    <b>270 West Loop Road <br>Wheaton, IL 60187</b> 
  </div>

  <div class= "phone">
    <b>Telephone: </b> + 630.653.8464 <br>
    <b>Fax:</b> + 630.653.8660
  </div>

  <div class="hours"> <b> Hours </b>  <br>
      Monday, Wednesday: 8:30am - 7:00pm <br>
      Tuesday, Thursday, Friday:<br> 8:30am - 5:00pm <br><br>
      * Weekends by appointment 
  </div>


  <div class= "phone">
      <b>For immediate assistance after hours call: </b> <br>+ 630.569.8339 <br>
      <b>Email:</b>  commimaging@gmail.com 
  </div>
</div>