<div class="row">
  <div class= "large-12 columns"> 
    270 West Loop Road 
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    Wheaton, IL 60187
  </div>
</div>

<br>

<div class="row">

  <div class= "large-12 columns">
    <b>Telephone: </b> (630)653-8464
  </div>

</div>

<div class="row">
  <div class= "large-12 columns">
    <b>Fax:</b> (630)653-8660
  </div>
</div>

<br>

<div class="row">
  <div class= "large-12 columns">
    <b>Hours</b> 
  </div>
</div>


<div class="row">
  <div class="large-12 columns hours"
    <b>Monday: 8:30am - 7:00pm </b>
  </div>
</div>

<div class="row">
  <div class="large-12 columns hours"
    <b> Tuesday: 8:30am - 5:00pm </b>
  </div>
</div>

<div class="row">
  <div class="large-12 columns hours"
    <b> Wednesday: 8:30am - 7:00pm </b>
  </div>
</div>

<div class="row">
  <div class="large-12 columns hours"
    <b> Thursday: 8:30am - 5:00pm</b>
  </div>
</div>

<div class="row">
  <div class="large-12 columns hours"
    <b> Friday: 8:30am - 5:00pm</b>
  </div>
</div>

<div class="row">
  <div class="large-12 columns hours"
    <b> * Weekends by appointment </b>
  </div>
</div>

</br>

<div class="row">
  <div class="large-12 columns hours">
    <b>For immediate assistance after hours call:</b>
    
    (630)569-8339
  </div>
</div>

<br>

<div class="row">
  <div class="large-12 columns hours">
    <b>Email:</b>
    commimaging@gmail.com 
  </div>
</div>

