<div class="row"> 
  <div class="small-12 columns">

    <div class="small-6 small-offset-3 columns">
    <a class= "map" href = "http://goo.gl/maps/W7g5c" target= "_blank" style="margin-top:20px">
  	 Click to go to google maps <%= image_tag "map.png" %> 
    </a>
    </div>  

  </div> 

</div>

