
<div class="large-12 columns">
  <div class="row footer">

  <br>

    <div class="row">
      <div class="large-12 large-offset-2 columns">
          270 West Loop Road   |  Wheaton, IL 60187 | Telephone: (630) 653-8464 | Fax: (630) 653-8660
      </div>
    </div>

  </br>

    <div class="row">
      <div class="large-12 large-offset-3 columns">
          For immediate assistance after hours call: (630) 569-8339
      </div>
    </div>


<!--       <div class="large-8 columns large-offset-4">
      <ul class="inline-list right">
            
          <% if user_signed_in? %>
          <li>
          <%= link_to('Admin Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
          <% else %>
          <li>
          <%= link_to('Admin Login', new_user_session_path)  %>  
          </li>
          <% end %>
      </ul>
    </div> -->
    

  </div>
</div>







