<div class="large-12 columns">

  <div class="row footer">

      <br> 
      <br> 
      <br> 
      <br> 
      <br> 
      <br>  

    <div class='row'>
        
        <div class="large-12  columns">
        <b>Contact information: </b>
        </div>    
      
        <div class="large-12 columns">
        270 West Loop Road  | Wheaton, IL 60187 | Telephone: (630) 653-84642 | Fax: (630) 653-8660 | <b><a style="display:inline;" href="mailto:commimaging@gmail.com">Email us</a> </b>
        </div>

    </div>

 <br>
      
    <div class='row'>

        <div class="large-12 columns">
        <b>Hours:</b>
        </div>

        <div class="large-12 columns">
        Monday: 8:30am - 7:00pm | Tuesday: 8:30am - 5:00pm | Wednesday: 8:30am - 7:00pm | Thursday: 8:30am - 5:00pm  | Friday: 8:30am - 5:00pm
        </div>

    </div>
        

</div>




<!--       <div class="large-8 columns large-offset-4">
      <ul class="inline-list right">
            
          <% if user_signed_in? %>
          <li>
          <%= link_to('Admin Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
          <% else %>
          <li>
          <%= link_to('Admin Login', new_user_session_path)  %>  
          </li>
          <% end %>
      </ul>
    </div> -->
    

  </div>
</div>







