
<footer>
  <div class="large-12 columns">
    <div class="row footer">
  
      <div class="large-4 columns">
        <p>© L.Wellhausen 2013</p>
      </div>
      
      <div class="large-8 columns">
        <ul class="inline-list right ">
          
          <li><a href="https://pacs.commimaging.com/index.jsp">Referring Physicians</a></li>
          
          <li><a href="#">Directions</a></li>
          
          <% if user_signed_in? %>
          <li>
          <%= link_to('Admin Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
          <% else %>
          <li>
          <%= link_to('Admin Login', new_user_session_path)  %>  
          </li>
          <% end %>
          </ul>
      </div>

    <div class="row">
      <div class="large-12 columns">
        <p>
          
        </p>
      </div>
    </div>


    <div class="row">
      <div class="large-12 columns">
        <p>
          For immediate assistance after hours call: + 630.569.8339 
        </p>
      </div>
    </div>

      <h5>Phone: 630.653.8464</h5>
      <h5>Fax: 630.653.8660</h5>

    </div>
  </div>

<footer>



