<div class= "row">
  <div class= "span5 large-offset-0">
    <ul class="faq">    
      <li class="faq">&bull; Aetna </li> <br>
      <li class="faq">&bull; BCBS (non HMO plans)</li><br>
      <li class="faq">&bull; Care IQ </li><br>
      <li class="faq">&bull; Cigna </li><br>
      <li class="faq">&bull; Concorde</li><br>
      <li class="faq">&bull; Cor Care Network / Corvel </li><br>
      <li class="faq">&bull; Diagnostics Plus </li><br>
      <li class="faq">&bull; First Health / CCN   </li><br>
      <li class="faq">&bull; HFN</li><br>
      <li class="faq">&bull; Humana</li><br>
      <li class="faq">&bull; Labor Temps</li><br>
      <li class="faq">&bull; Meade Electric</li><br>
      <li class="faq">&bull; Medicaid </li><br>
      <li class="faq">&bull; MedSolutions</li><br>
      <li class="faq">&bull; Multiple Sclerosis Assoc. of America (MSAA)</li><br>
      <li class="faq">&bull; MultiPlan</li><br>
      <li class="faq">&bull; National Cycle</li><br>
      <li class="faq">&bull; One Call Medical </li><br>
      <li class="faq">&bull; Professional Diagnostic Management (PDM)</li><br>
      <li class="faq">&bull; Private Health Care Systems (PHCS)   </li><br>
      <li class="faq">&bull; PPO Next</li><br>
      <li class="faq">&bull; Tech Health </li><br>
      <li class="faq">&bull; Total Staffing Solutions </li><br>
      <li class="faq">&bull; Town of Cicero </li><br>
      <li class="faq">&bull; Unicare </li><br>
      <li class="faq">&bull; United Health Care </li><br>
      <li class="faq">&bull; US Imaging Network </li><br>
      <li class="faq">&bull; Veterans Evaluation Services</li><br>
    </ul>
  </div>

  <div class="uninsured">
    <p>Please note that there are excellent rates for uninsured patients. Please call our office to inquire specifically about those rates.</p>
    <p>+ 630.653.8464</p>
  </div>


</div>