<div class= "row">
  <div class= "span5 large-offset-0">
    <ul class="faq">    
      <li class="faq">Aetna </li> <br>
      <li class="faq">BCBS (non HMO plans)</li><br>
      <li class="faq">Care IQ </li><br>
      <li class="faq">Cigna </li><br>
      <li class="faq">Concorde</li><br>
      <li class="faq">Cor Care Network / Corvel </li><br>
      <li class="faq">Diagnostics Plus </li><br>
      <li class="faq">First Health / CCN   </li><br>
      <li class="faq">HFN</li><br>
      <li class="faq">Humana</li><br>
      <li class="faq">Labor Temps</li><br>
      <li class="faq">Meade Electric</li><br>
      <li class="faq">Medicaid </li><br>
      <li class="faq">MedSolutions</li><br>
      <li class="faq">Multiple Sclerosis Assoc. of America (MSAA)</li><br>
      <li class="faq">MultiPlan</li><br>
      <li class="faq">National Cycle</li><br>
      <li class="faq">One Call Medical </li><br>
      <li class="faq">Professional Diagnostic Management (PDM)</li><br>
      <li class="faq">Private Health Care Systems (PHCS)   </li><br>
      <li class="faq">PPO Next</li><br>
      <li class="faq">Tech Health </li><br>
      <li class="faq">Total Staffing Solutions </li><br>
      <li class="faq">Town of Cicero </li><br>
      <li class="faq">Unicare </li><br>
      <li class="faq">United Health Care </li><br>
      <li class="faq">US Imaging Network </li><br>
      <li class="faq">Veterans Evaluation Services</li><br>
    </ul>
  </div>

  <div class="uninsured">
    <p>Please note that there are excellent rates for uninsured patients. Please call our office to inquire specifically about those rates.</p>
    <p>+ 630.653.8464</p>
  </div>


</div>