 
  <p class="mission">
    <b>We choose to work at Community Imaging, because we have passion to help others. </b> This passion drives
    the company. In all that we do - our concern for the patient drives our decisions. 
    </p>

    <p class="mission">
    <b>We are driven to do the right thing.</b> Sometimes doing the right thing is harder than it sounds. It 
    may not be profitable. It may not be popular. But without our integrity, we have nothing. At community 
    imaging, ethics take priority over expediency - always.
    <br></p>

    <p class="mission">
    <b>We take nothing for granted, because there is an opportunity to do better in every aspect of our business.</b>
    In questioning, we encourage debate, the exchange of ideas is critical to problem solving. Remember, evolution
    is the key to survival. No concept, product or service is set in stone at our company.</p>

    <p class="mission">
    <b>If we are to earn respect - as individuals and as a company - we must make good on our commitments.</b>
    This means thinking carefully before making those promises. Be up front and realistic when giving patients, 
    customers or co-workers your answer. They will appreciate your honesty and know that we as a company are 
    trustworthy.
  </p>