
  <dl id='fAQ'> 
  <dt> What is an MRI? </dt>

  <dd>
    <p class='answer'>
      Magnetic Resonance Imaging uses non-ionizing radiowaves to obtain detailed pictures of your anatomy. This is accomplished by placing the patient into a magnetic field while radiowaves are turned on and off. Signals are then picked up by a coil and fed into a computer. The computer creates images for interpretation by a Board Certified Radiologist.
    </p>
  </dd>


<dt><br>How do I prepare for the MRI scan?</dt>
  <dd>
    <p class="answer">Essentially, there is no preparation for your MRI scan. You may proceed with your usual diet and take all prescribed medications as directed unless otherwise requested by your physician. Due to the magnetic field, please wear loose, comfortable clothing without metal snaps, hooks, or zippers. Our facility will provide you with apparel should you need it. You will be provided a private locker for the safekeeping of your belongings while you are having your exam. Please arrive 15 minutes prior to your exam time for completion of necessary paperwork. It is important to bring the script/order from your physician, your photo I.D. and your health insurance card(s) if applicable.</p>
  </dd>

  <dt> <br>What you can expect during your MRI scan?</dt>
  <dd>
    <p class="answer">When you arrive at Community Imaging, the technologist will review your medical history and chief complaints with you to provide necessary information to the radiologist. You will be assisted onto the table into the appropriate position for your scan. During the scan, you will hear intermittent thumping and humming sounds. Earplugs or music will be provided to you to ensure your comfort. You will be requested to remain relaxed and completely still for the procedure. Any movement may deter image quality and make it difficult for the radiologist to interpret. The exam will take approximately 25-45 minutes. You will be able to communicate with the technologist through a 2 way intercom system located in the MRI scan room. For your comfort, you may ask a friend or family member to sit with you in the scan room if they are eligible through screening. During your scan, you will not see or feel anything. It is completely painless and has no known side effects. Because there is no ionizing radiation or radioactive substances associated with this procedure, patients avoid the potential danger of radiation exposure.</p>
  </dd>

  <dt> <br>Will my insurance cover my exam?</dt>
  <dd><p class="answer">Most insurance plans cover the costs associated with diagnostic scans. The amount of your coverage will depend on your particular plan. Our staff will be happy to provide complimentary insurance verification for you and precertification if necessary. Check with our staff to be sure that we are preferred providers with your health insurance plan. </p></dd>


  <dt> <br>Why is it necessary to give copies of my insurance card and driver’s license on every visit?</dt>
  <dd><p class="answer">This is for your benefit as we need to verify it is you using your information and that the information we have is correct.
  I gave my insurance information over the phone, why is it necessary to give the actual cards during check-in? 
  </p></dd>

  <dt><br>I gave my insurance information over the phone, why is it necessary to give the actual cards during check-in?</dt>
  <dd><p class="answer">This is for your benefit to ensure that the information is correct and that we have the correct billing address on the back of the insurance card.</p></dd>

  <dt><br>Why do you need my previous MRI images and reports?</dt>
  <dd><p class="answer">We need the images and reports because in Diagnostic Imaging we are always looking for stability over time and it is only in comparing back to prior images and reports that we can notice any changes in your images.</p></dd>

  <dt><br>Why won’t the technologists give me my results or findings?</dt>
  <dd><p class="answer">The Radiologists are the only ones qualified to read the exams and send the results to your physician. The technologists are not able to do this.</p>
  </dd>

  <dt><br>How or when will I get my results?</dt>
  <dd><p class="answer">You will receive the result from your ordering physician. Your physician will generally receive these results within 24 hours from the completion of your exam. </p>
  </dd>
</dl>
