<!-nav-->
<div class="div-border">
  <div class="row">
    <div class="small-12 columns large-offset-1">
      
      <li>
        <%= link_to 'Home', root_path %>
      </li>

      <li data-dropdown="drop1">
        About
      </li>

      <ul id="drop1" class="f-dropdown" data-dropdown-content>
        <li><%= link_to 'Mission', mission_path %></li>
        <li><%= link_to 'People', people_path %></li>
        <li><%= link_to 'Directions', directions_path %></li>
      </ul>   


      
    </div>
  </div> 
</div>