
  <div class='row'>
    <div class="small-12 small-offset-0 columns">
      <h3>Schedule your exam today</h3>
    </div>
  </div>

  <div class='row'>
    <div class="small-10 small-offset-0 columns">   
      <h5>If you would like a representative to call you to schedule your exam,  please fill out and submit this form.</h5>
    </div>
  </div>



                 
  <%= render  partial:'leads/form', locals: { lead: Lead.new } %>

