<fieldset>
  <h3>Schedule your exam today</h3>
  <h3>Phone: 630.653.8464</h3>
  <h3>Fax: 630.653.8660</h3>

  <h4>If you would like a representative to call you to schedule your exam,  please fill out and submit this form.</h4>
                 
  <%= render  partial:'leads/form', locals: { lead: Lead.new } %>

