<div class="row">
  <div class="small-10 small-offset-1 div-border">
    <span style=""
    <b> Please rate your experience at Community Imaging. </b>
    </span>

    <div id="survey">

      <%= render  partial:'surveys/survey', locals: { survey: Survey.new } %>

    </div>
  
  </div>
</div>








