
<% content_for :title do %>
  Community Imaging | About
<% end %>

<% content_for :nav do %>
    <%= render "nav" %>
<% end %>


<% content_for :row1 do %>

	<div class="small-10 small-offset-1 columns div-border">	

	  	<div id="tabs-2">
    		<%= render "insurance" %>
	  	</div>
	  	  
	</div>
<% end %>

<% content_for :footer do %>
    <%= render "footer" %>
<% end %>



