
<footer>
  <div class="large-12 columns">
    <div class="row div-border footer">
  
      <div class="large-4 columns div-border">
        <p>© L.Wellhausen 2013</p>
      </div>
      
      <div class="large-8 columns div-border ">
        <ul class="inline-list right ">
          <li><a href="#">Referring Physicians</a></li>
          <li><a href="#">Directions</a></li>
          <li><a href="#">Additional Resources</a></li>
          <li><a href="#">Administration</a></li>
        </ul>
      </div>

    <div class="row">
      <div class="large-12 columns">
        <p>
          
        </p>
      </div>
    </div>


    <div class="row">
      <div class="large-12 columns">
        <p>
          For immediate assistance after hours call: + 630.569.8339 
        </p>
      </div>
    </div>

    </div>
  </div>

<footer>



