  <div class="row">
    <div class="small-8 columns">

        <div class="small-5 small-offset-1 column"> 
            
            <input type="text" placeholder="address" name="address">
            <input type="text" placeholder="state" name="state">
            <input type="text" placeholder="home phone" name="h-phone">
            
            <input type="text" placeholder="height" name="height">
        </div>

        <div class="small-5 column"> 

            <input type="text" placeholder="city" name="city">
            <input type="text" placeholder="zip" name="zip">
            <input type="text" placeholder="cell phone" name="c-phone">
            <input type="text" placeholder="weight" name="weight"> 
        </div> 
    </div>
</div>

<hr>

<div class="row">
  <div class="small-8 columns">

    </div>

    <div class="small-5 column"> 

    </div> 

  </div>
</div>

<hr>

  <div class='row'>
    <div class="small-8 small-offset-1 columns">
      <ol id='registration'>
        <!--- Survey goes here !-->
      </ol>
    </div>
  </div> 

  <div class='row'>
    <div class='small-offset-1 columns'>
      <a href="#" class="button">Submit</a>
    </div>
  </div>

<% content_for :javascript do %>
  <script>
  var conditionArray =['Gunshot/BBS/Shrapnel wounds:',
                        'Vascular surgery:',
                        'Pacemaker/Heart surgery:',
                        'Brain surgery/Aneurysm Clips:',
                        'Diabetic:',
                        'Take Glucophage/Metformin?',
                        'History of Cancer/Tumors:',
                        'Tattoos/Body Piercings:',
                        'Kidney/Liver Problems:',
                        'Contrast Allergy:',
                        'Ear Implants/Hearing Aids:',
                        'Blood/Bleeding Disorder:', 
                        'IUD:'];

    var answerArray =['yes','no'];

    // iterate through condition array
    for(var i = 0; i < conditionArray.length; i++){

        / / add the category name
        $("#registration").append( conditionArray[i] + '<br>');

        // iterate through rating array
        for(var x = 0; x < answerArray.length; x++){

          // add yes or no radio button & markup
          $("#registration").append( answerArray[x] + "<input type='radio' name='overall' value=" + "'" + answerArray[x] + "'" + "></input>" );  
        }

        $("#registration").append('<br>');

        };
  </script>

  <% end %>






