

///////////////////////////////////////////////////////////////
//                                                           //
//                                                           //
//                       Variables                           //
//                                                           //
//                                                           //
///////////////////////////////////////////////////////////////

$bgcolor:#003366;
$secondary:#214768;
$tertiary:#234e73;

//media query sizes
$large-size:1000px;
$medium-size:720px;



///////////////////////////////////////////////////////////////
//                                                           //
//                                                           //
//                        Mixins                             //
//                                                           //
//                                                           //
///////////////////////////////////////////////////////////////

@mixin breakpoint($point) {
  @if $point == large-screen {
    // Medium-screen is set in foundation.
    @media all and (min-width: $large-size) { @content; }
  }

  @else if $point == med-screen {
    // Small-screen is set in foundation.
    @media all and (min-width: $medium-size)  { @content; }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin clear-fix() {
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

///////////////////////////////////////////////////////////////
//                                                           //
//                                                           //
//                        Global                             //
//                                                           //
//                                                           //
///////////////////////////////////////////////////////////////

body{
	background-color:$bgcolor; 
}

.content-background{
	background-color:white;
	@include single-box-shadow;
	min-height:100px;
	min-width:10px;
	border-style:solid;
	border-color:$bgcolor;
	border-width:2px;	

	@include breakpoint(med-screen){	
		min-height:500px;
		min-width:200px;
		border-width:2px;
	}
	
	@include breakpoint(large-screen){	
		min-height:600px;
		min-width:200px;	
		border-width:0px;	
	}
}

.div-border{
	border-style:solid;
	border-color:red;
	border-width:1px;	
}

.grey-border{
	border-style:solid;
	border-color:red;
	border-width:1px;	
}

.info-box{
	@include single-box-shadow;
	height:200px;
	width:200px;
	margin-bottom:20px;
}

.center-img{
	margin-top:0px;
	margin-left:0px;

	@include breakpoint(med-screen){
			margin-top:0px;
			margin-left:35px;
			height:50px;
			width:50px;
	}

	@include breakpoint(large-screen){
			margin-top:5px;
			margin-left:17px;
	}
  
}

///////////////////////////////////////////////////////////////
//                                                           //
//                                                           //
//                    Navigation                             //
//                                                           //
//                                                           //
///////////////////////////////////////////////////////////////


ul{

	list-style-type:none;
	margin:0;
	padding:0;
}

a{
	display:block;
	margin-right:25px;


}

li{
	display:inline;
	float:left;
}

.nav-spacing{
  margin-top:0px;
  margin-left:0px;

    @include breakpoint(med-screen){
      margin-top:40px;
  }

  @include breakpoint(large-screen){
      margin-top:40px;
  }

}

///////////////////////////////////////////////////////////////
//                                                           //
//                                                           //
//                    Footer                                 //
//                                                           //
//                                                           //
///////////////////////////////////////////////////////////////

.footer{
	height: 200px;
	background-color:#E8E8E8;
	font-color: blue;
}

///////////////////////////////////////////////////////////////
//                                                           //
//                                                           //
//                        About                              //
//                                                           //
//                                                           //
///////////////////////////////////////////////////////////////